<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pyisland.server.user.mapper.AgentModelPricingMapper">

    <resultMap id="AgentModelPricingResultMap" type="com.pyisland.server.user.entity.AgentModelPricing">
        <id property="id" column="id"/>
        <result property="modelName" column="model_name"/>
        <result property="inputPriceFenPerMillion" column="input_price_fen_per_million"/>
        <result property="outputPriceFenPerMillion" column="output_price_fen_per_million"/>
        <result property="enabled" column="enabled"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <sql id="baseColumns">
        id, model_name, input_price_fen_per_million, output_price_fen_per_million, enabled, updated_at
    </sql>

    <select id="selectAll" resultMap="AgentModelPricingResultMap">
        SELECT <include refid="baseColumns"/>
        FROM agent_model_pricing
        ORDER BY id ASC
    </select>

    <select id="selectByModelName" resultMap="AgentModelPricingResultMap">
        SELECT <include refid="baseColumns"/>
        FROM agent_model_pricing
        WHERE model_name = #{modelName}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO agent_model_pricing
            (model_name, input_price_fen_per_million, output_price_fen_per_million, enabled, updated_at)
        VALUES
            (#{modelName}, #{inputPriceFenPerMillion}, #{outputPriceFenPerMillion}, #{enabled}, #{updatedAt})
    </insert>

    <update id="updateByModelName">
        UPDATE agent_model_pricing
        SET input_price_fen_per_million = #{inputPriceFenPerMillion},
            output_price_fen_per_million = #{outputPriceFenPerMillion},
            enabled = #{enabled},
            updated_at = #{updatedAt}
        WHERE model_name = #{modelName}
    </update>

    <delete id="deleteByModelName">
        DELETE FROM agent_model_pricing
        WHERE model_name = #{modelName}
    </delete>

</mapper>
