<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pyisland.server.user.payment.mapper.PaymentTransactionMapper">

    <insert id="insertIgnore">
        INSERT IGNORE INTO payment_transaction
        (out_trade_no, wx_transaction_id, trade_state, payer_openid, success_time, raw_json, created_at)
        VALUES
        (#{outTradeNo}, #{wxTransactionId}, #{tradeState}, #{payerOpenid}, #{successTime}, #{rawJson}, #{createdAt})
    </insert>

</mapper>
